<div class='container center-main'>
  <form id="book-form">
    <div class="form-group">
      <label class="form-left" for="book-title">Title</label>
      <input class="book-field" id="book-title" name="book[title]" value="A Book">
      <br>
    </div>
    <div class="form-group">
      <label class="form-left" for="book-photographer">Photographer</label>
      <input class="book-field" id="book-photographer" name="book[photographer]" value="A Photographer">
      <br>
    </div>
    <div class="form-group">
      <label class="form-left" for="book-nationality">Nationality</label>
      <input class="book-field" id="book-nationality" name="book[nationality]" value="A Merican">
      <br>
    </div>
    <div class="form-group">
      <label class="form-left" for="book-publisher">Publisher</label>
      <input class="book-field" id="book-publisher" name="book[publisher]" value="A Publisher">
      <br>
    </div>
    <div class="form-group">
      <label class="form-left" for="book-year">Year</label>
      <input class="book-field" id="book-year" name="book[year]" value="2015">
      <br>
    </div>
    <div class="form-group">
      <label class="form-left" for="book-isbn">ISBN</label>
      <input class="book-field" id="book-isbn" name="book[isbn]">
      <br>
    </div>
    <div class="form-group">
      <label class="form-left" for="book-genre">Genre</label>
      <input class="book-field" id="book-genre" name="book[genre]" value="A Genre">
      <br>
    </div>
    <div class="form-group">
      <label class="form-left" for="book-type">Type</label>
      <input class="book-field" id="book-type" name="book[type]" value="A Type">
      <br>
    </div>
    <div class="form-group">
      <label class="form-left" for ="book-textBy">Text By</label>
      <input class="book-field" id="book-textBy" name="book[textby]" value="An Author">
      <br>
    </div>
    <div class="form-group">
      <label class="form-left" for="book-tags">Tags</label>
      <input class="book-field" id="book-tags" name="book[tags]" value="A Tag, Another Tag">
      <br>
    </div>
    <div class="form-group">
      <label class="form-left" for="book-comments">Comments</label>
      <input class="book-field" id="book-comments" name="book[comments]">
      <br>
    </div>
    <div class="form-group">
      <label class="form-left" for="book-signed">Signed</label>
      <input class="book-checkbox" type=checkbox id="book-signed" name="book[signed]">
    </div>
    <div class="form-group submit-button-div">
      <button class="btn btn-default btn-lg btn-block" type="submit">Submit Entry</button>
    </div>
  </form>
</div>
