<form id="book-form">
  <label class="form-left" for="book-title">Title</label>
  <input class="book-field" id="book-title" name="book[title]" value="The Valley">
  <br>

  <label class="form-left" for="book-photographer">Photographer</label>
  <input class="book-field" id="book-photographer" name="book[photographer]" value="Larry Sultan">
  <br>

  <label class="form-left" for="book-nationality">Nationality</label>
  <input class="book-field" id="book-nationality" name="book[nationality]" value="American">
  <br>

  <label class="form-left" for="book-type">Type</label>
  <input class="book-field" id="book-type" name="book[type]" value="monograph">
  <br>

  <label class="form-left" for="book-genre">Genre</label>
  <input class="book-field" id="book-genre" name="book[genre]" value="Documentary">
  <br>

  <label class="form-left" for ="book-textBy">Text By</label>
  <input class="book-field" id="book-textBy" name="book[textby]">
  <br>

  <label class="form-left" for="book-publisher">Publisher</label>
  <input class="book-field" id="book-publisher" name="book[publisher]">
  <br>

  <label class="form-left" for="book-isbn">ISBN</label>
  <input class="book-field" id="book-isbn" name="book[isbn]">
  <br>

  <label class="form-left" for="book-year">Year Published</label>
  <input class="book-field" id="book-year" name="book[year]">
  <br>

  <label class="form-left" for="book-tags">Tags</label>
  <input class="book-field" id="book-tags" name="book[tags]">
  <br>

  <label class="form-left" for="book-comments">Comments</label>
  <input class="book-field" id="book-comments" name="book[comments]">
  <br>

  <label class="form-left" for="book-signed">Signed</label>
  <input class="book-checkbox" type=checkbox id="book-signed" name="book[signed]">

  <br/><span class="form-left"><button type="submit">Submit Entry</button></span>
</form>
