<div class='container center-main'>
  <h1>Welcome to SimpLib</h1>
  <p class="home-text">
    {{#if currentUser}}
    <a href='/books/new'>Add Books</a>
    or <a href='/books/show'>Browse the Library</a>
    {{else}}
    Please <a href='/users/login'>Log In</a>
    {{/if}}
  </p>
</div>
