<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="./styles.css" rel="stylesheet">
  <title>SimpLib</title>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <ul class="nav nav-tabs" id="top-nav">
          <li>Form</li>
          <li>List</li>
        </ul>
      </div>
    </div>
  </nav>

  {{{body}}}

  <script src="./libraries/jquery.js"></script>
  <script src="./javascripts/books-database.js"></script>
  <script src="./javascripts/book.js"></script>
  <script src="./javascripts/book-form-view.js"></script>
  <script src="./javascripts/list-item-view.js"></script>
  <script src="./javascripts/application.js"></script>
</body>
</html>
