<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css'>
  <link href="/styles.css" rel="stylesheet">
  <title>SimpLib</title>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">SimpLib</a>
        <!-- nav-tabs will require jquery to add/remove 'active' class -->
        <ul class="nav navbar-nav nav-tabs">
          <li id="form-view-switch"><a href="/form">Add Books</a></li>
          <li id="list-view-switch"><a href="/list">Browse Library</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          {{#if currentUser}}
          <li>{{currentUser.email}}</li>
          <li><a href="/users/logout">Log Out</a></li>
          {{else}}
          <li><a href="/users/new">Create User</a></li>
          <li><a href="/users/login">Log In</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
  {{#if errorMessages}}
  {{#each errorMessages}}
  <div class='alert alert-error'>
    {{this}}
  </div>
  {{/each}}
  {{/if}}

  {{{body}}}

  <script src="/javascripts/jquery.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/javascripts/client.js"></script>
</body>
</html>
