<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SimpLib</title>
  <link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="./styles.css" rel="stylesheet">
</head>
<body>
  <ul id='nav'>
    <li>Form</li>
    <li>List</li>
  </ul>
  
  {{{body}}}

  <script src="./libraries/jquery.js"></script>
</body>
</html>
