<div class='container center-main'>
  <h2>Your Library</h2>
  <table id="library" class="table table-striped">

    {{#each books}}
    <tr>
      <td class='list-button-cell'>
        <h3 class='small'>
          <a href="#" class="delete-button text-danger">X</a>
        </h3>
      </td>
      <td class='main-book-cell'>
        <h3 class="att-title editable" title="title">{{title}}</h3>
        <h3 class="att-photographer small text-muted editable" title="photographer">{{photographer}}</h3>
      </td>
      <td class='list-button-cell'>
        <h3 class='small text-info'>
          <a href="#" class="more-button">More</a>
        </h3>
      </td>
    </tr>
    {{/each}}

  </table>
</div>
