
/* Begin book entry form, mainly to clean up spacing */

.form-left {
  display: inline-block;
  width: 5em;
  vertical-align: top;
  text-align: right;
  margin-right: 15px;
  font-weight: bold;
  height: auto;
}

.book-field {
  width: 60%;
}

.submit-button-div {
  margin-right: 10%;
  margin-left: 10%;
}

/* End entry form */

/* Begin User Form */
.user-form {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}

.user-form-btn {
  /*margin-left: 30%;
  margin-right: 20%;*/
  float: right;
  width: 15em;
  padding-right: 5px;
}

.user-form .form-group input {
  width: 15em;
}
/* End User Form */
