// @import "reset";
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,700);
@import "bootstrap-custom";
@import "nav";
@import "forms";
@import "show-panel";


// additional variables
@highlight-color: @brand-primary; // set in bootstrap

/* Begin general stuff */

body {
  padding-top: 70px;
  // font-family: 'Titillium Web', sans-serif;
}

p.home-text{
  padding: 15px 0px;
}

.center-main-div {
  position: relative;
  right : 10%;
  left : 10%;
}

// span h3 {
//   padding: 5px 0px;
// }

input {
  display: inline-block;
  border-radius: 5px;
}

// make all of the buttons dark themed

button.btn.btn-default {
  color: @gray-lighter;
  background-color: @gray;
  border: 1px solid @gray-lighter;
  &:hover, &:active, &:focus {
    background: @gray-darker;
  }
}

.open>.dropdown-toggle.btn-default {
  background: @gray;
  color: @gray-lighter;
  border: 1px solid @gray;
}
/* End general stuff */
