nav {
  padding: 0px 15px;

  .navbar-header {
    .navbar-brand {
      font-weight: 700;
      background-color: #fff;
    }
  }

  .main-options {
    li {
      font-weight: 700;
      margin-left: 45px;
      border: 2px solid #fff;
      &:hover {
        border: 2px solid @navbar-default-link-hover-color;
      }
    }
  }

  button.btn.btn-default#user-dropdown:hover {
    background-color: @brand-primary;
    span {
      background-color: @brand-primary;
    }
  }

}

#cog-menu {
  height: 50px;
  margin: 0px;
  li {
    height: inherit;
  }
  .btn-group {
    margin: 25% 0px;
    .btn {
      padding: 6px 8px;
    }
  }
}
