/* Begin nav bar */
nav {
  #top-nav li {
    list-style-type : none;
    padding : 10px;
  }

  #cog-menu {
    height: 50px;
    margin: 0px;
    // padding-right: 15px;
    li {
      height: inherit;
    }
    .btn-group {
      margin: 25% 0px;
      .btn {
        padding: 6px 8px;
      }
    }
  }
}

.dropdown-menu {
  background-color: @gray;
  li a {
    color: @gray-lighter;
    &:hover {
      color: @gray-lighter;
      background-color: @gray;
      text-decoration: underline;
    }
  }
}


/* End nav bar */
