a {
  text-decoration: none;
}

.center-main-div {
  right : 10%;
  left : 10%;
}

/* Being nav bar */
#top-nav li {
  list-style-type : none;
}

/* End nav bar */

/* Begin entry form, mainly to clean up spacing */

.form-left {
  display: inline-block;
  width: 10em;
  vertical-align: top;
  text-align: right;
  margin-right: 15px;
  font-weight: bold;
  height: auto;
}

.book-field {
  display: inline-block;
  width: 30em;
  border-radius: 5px;
}

.submit-button-div {
  margin-right : 20%;
  margin-left : 20%;
}

/* End entry form */

/* Begin collection list table */

td {
  width: 10px;
  overflow : hidden;
}

tr {
  height: 10px;
}

/* table {
  border-collapse: collapse;
  border: 3px solid black;
  font-size: 1em;
  width: 85%;
} */

.list-button-cell {
  max-width: 10px;
}

.more-info-box {
  position : absolute;
}

/* End list table */
