/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*End CSS Reset*/

/* Begin general stuff */

body {
  padding-top : 70px;
  font-family: 'Titillium Web', sans-serif;
}

p.home-text{
  padding: 15px 0px;
}

.center-main-div {
  position: relative;
  right : 10%;
  left : 10%;
}

span h3 {
  padding: 5px 0px;
}

input {
  display: inline-block;
  border-radius: 5px;
}

/* End general stuff */

/* Begin nav bar */
#top-nav li {
  list-style-type : none;
  padding : 10px;
}

nav p {
  padding-left: 15px;
}


/* End nav bar */

/* Begin book entry form, mainly to clean up spacing */

.form-left {
  display: inline-block;
  width: 5em;
  vertical-align: top;
  text-align: right;
  margin-right: 15px;
  font-weight: bold;
  height: auto;
}

.book-field {
  width: 60%;
}

.submit-button-div {
  margin-right: 10%;
  margin-left: 10%;
}

/* End entry form */

/* Begin User Form */
.user-form {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}

.user-form-btn {
  /*margin-left: 30%;
  margin-right: 20%;*/
  float: right;
  width: 15em;
  padding-right: 5px;
}

.user-form .form-group input {
  width: 15em;
}
/* End User Form */


/* Begin collection list table */
table {
  text-align: center;
  /*border-collapse: collapse;*/
}

td {
  max-width: .5em;
  overflow: hidden;
}

td.main-book-cell {
  text-align: left;
  width: 27%;
}

/*tr {
  height: auto;
}*/

.list-button-cell {
  width: auto;
  vertical-align: middle!important;
}

/* End list table */
