<form method="post" action="/users/login">
  <div class="form-group">
    <label class="form-left" for="user-email">Email</label>
    <input id="user-email" name="user[email]" value="" placeholder="user@example.com">
    <br>
  </div>
  <div class="form-group">
    <label class="form-left" for="user-password">Password</label>
    <input id="user-password" name="user[password]" value="" type="password">
    <br>
  </div>
  <button type="submit" class="btn">Login</button>
</form>
