<form method="post" action="/users/new">
  <div class="form-group">
    <label class="form-left" for="user-name">Username</label>
    <input id="user-name" name="user[name]" value="" placeholder="username">
    <br>
  </div>
  <div class="form-group">
    <label class="form-left" for="user-email">Email</label>
    <input id="user-email" name="user[email]" value="" placeholder="user@example.com">
    <br>
  </div>
  <div class="form-group">
    <label class="form-left" for="user-password">Password</label>
    <input id="user-password" name="user[password]" value="" type="password">
    <br>
  </div>
  <div class="form-group">
    <label class="form-left" for="user-confirmation">Confirm Password</label>
    <input id="user-confirmation" name="user[confirmation]" value="" type="password">
  </div>
  <button type="submit" class="btn">Add User</button>
</form>
